@import 'normalize.css';

body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
header,
footer,
nav,
article,
aside {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family:
    'Microsoft YaHei', '微软雅黑', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
}

ul,
li {
  list-style: none;
}

button {
  outline: none;
}

:root {
  --background-image-1: 'https://s2.music.126.net/style/web2/img/frame/topbar.png?644eb90b50c36812b6960361173990ac';
  --background-color-header: #333333;
  --container-gap: 30px;
  --common-font-size: 16px;
  --big-font-size: 35px;
}
